* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131313;
  min-height: 100vh;
}

:root {
  --white: #fff;
  --silver: #bcbcbc;
  --seal-brown: #131313;
  --granite-gray: #595959;
  --gradient-l: rgba(231, 209, 176, 0);
  --gradient-r: rgba(231, 209, 176, .15);
}

@font-face {
  font-family: 'Dm sans';
  src: url('https://assets.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea0a9_DMSans_18pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dm sans';
  src: url('https://assets.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea0ac_DMSans_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('https://assets.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea0af_Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('https://assets.website-files.com/65dc4e0e18107f1438dea07c/65dc4e0e18107f1438dea0b2_Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
